# Base URL of the AnonymousDesk backend API.
# iOS Simulator: http://localhost:4000/api/v1
# Android Emulator: http://10.0.2.2:4000/api/v1
# Physical device: http://<your-AIzaSyBnqY8KuY2TbylVPjO864cFrFum80dfU5c-machine-1:473235470533:android:506a2cfe3d6531dd55d8ac-LAN-IP>:4000/api/v1
EXPO_PUBLIC_API_URL=http://10.51.227.242:4000/api/v1
# EXPO_PUBLIC_FIREBASE_API_KEY=""
# EXPO_PUBLIC_FIREBASE_APP_ID=""